<?xml version="1.0"?>
<!--
/**
 * Configuration file
 */
-->
<config>
    <modules>
        <Imedia_RewardPoints>
            <version>0.1.0</version>
			<depends>
				<Mage_Customer />
				<Mage_Checkout />
			</depends>
        </Imedia_RewardPoints>
    </modules>
    
	<frontend>
        <routers>
            <imedia_rewardpoints>
                <use>standard</use>
                <args>
                    <module>Imedia_RewardPoints</module>
                    <frontName>rewardpoints</frontName>
                </args>
            </imedia_rewardpoints>
			
			<checkout>
				<args>
					<modules>
						<imedia_rewardpoints before="Mage_Checkout_CartController">
						 Imedia_RewardPoints
						</imedia_rewardpoints>
					</modules>
				</args>
			</checkout>
			
        </routers>
		
        <!-- set frontend layout file-->
        <layout>
            <updates>
                <imedia_rewardpoints>
                    <file>imedia/imedia_rewardpoints.xml</file>
                </imedia_rewardpoints>
            </updates>
        </layout>
		
		<events>
			<sales_order_place_after>
				<observers>
					<imedia_rewardpoints_model_observer>
						<type>singleton</type>
						<class>imedia_rewardpoints/observer</class>
						<method>recordPointsForOrderEvent</method>
					</imedia_rewardpoints_model_observer>
				</observers>
			</sales_order_place_after>
         </events>
        
       
    </frontend>
	
	
	
    <global> 
	
	    <events>
          <customer_register_success>
			<observers>
			  <imedia_rewardpoints_model_observer>
			  <type>singleton</type>
			  <class>imedia_rewardpoints/observer</class>
			  <method>rewardpoints</method>
			  </imedia_rewardpoints_model_observer>
			</observers>
          </customer_register_success>
		  
			<newsletter_subscriber_save_before>
			 <observers>
			  <imedia_rewardpoints_model_observer>
			      <type>singleton</type>
			      <class>imedia_rewardpoints/observer</class>
				  <method>subscribedToNewsletter</method>
			  </imedia_rewardpoints_model_observer>
			  </observers>
			</newsletter_subscriber_save_before>
        </events>
		
		<fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
            </sales_convert_quote_address>
			<sales_convert_order>
				<fee_amount><to_invoice>*</to_invoice></fee_amount>
				<base_fee_amount><to_invoice>*</to_invoice></base_fee_amount>
            </sales_convert_order>
        </fieldsets>
		<pdf>
            <totals>
                <rewards translate="title">
                    <title>Rewards points discount</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </rewards>
            </totals>
        </pdf>
		
		
		<sales>
            <quote>
                <totals>
                    <discount>
                        <class>Imedia_RewardPoints_Model_Discount</class>
                        <after>subtotal</after>
                    </discount>
                </totals>
            </quote>
             
            <order_invoice>
                <totals>
                    <discount>
                        <class>Imedia_RewardPoints_Model_Invoice</class>
                        <after>subtotal</after>
                    </discount>
                </totals>
            </order_invoice>
             
            <order_creditmemo>
                <totals>
                    <discount>
                        <class>Imedia_RewardPoints_Model_Creditmemo</class>
                        <after>subtotal</after>
                    </discount>
                </totals>
            </order_creditmemo>
        </sales>

        
        <models>
		
		    <rewardpoints>
                <class>Imedia_RewardPoints_Model</class>
				<resourceModel>imedia_rewardpoints_mysql4</resourceModel>
            </rewardpoints>
			
			<imedia_rewardpoints>
                <class>Imedia_RewardPoints_Model</class>
                <resourceModel>imedia_rewardpoints_mysql4</resourceModel>
            </imedia_rewardpoints>
			
            <imedia_rewardpoints_mysql4>
                <class>Imedia_RewardPoints_Model_Mysql4</class>
                <entities>
                    <rewardpoints>
                        <table>rewardpoints_rewardpoints</table>
						<table>rewardpoints_account</table>
                    </rewardpoints>
                    <!--<item>
					    <table>rewardpoints_account_item</table>
					</item>	 -->						
                </entities>
            </imedia_rewardpoints_mysql4>

           <rewardpoints_mysql4>
                <class>Imedia_RewardPoints_Model_Mysql4</class>
                <entities>
                    <rewardpoints>
                        <table>rewardpoints_account</table>
                    </rewardpoints>
                    <!--<item>
					    <table>rewardpoints_account_item</table>
					</item>	 -->				
                </entities>
            </rewardpoints_mysql4>
			
        </models>
        
        <helpers>
            <imedia_rewardpoints>
                <class>Imedia_RewardPoints_Helper</class>
            </imedia_rewardpoints>  
        </helpers>
        
        <blocks>
            <imedia_rewardpoints>
                <class>Imedia_RewardPoints_Block</class>
            </imedia_rewardpoints>
			
		<adminhtml>
          <rewrite>
			<sales_order_totals>Imedia_RewardPoints_Block_Adminhtml_Sales_Order</sales_order_totals> <sales_order_invoice_totals>Imedia_RewardPoints_Block_Adminhtml_Sales_Invoice</sales_order_invoice_totals> 
	  <!-- <sales_order_creditmemo_totals>Imedia_RewardPoints_Block_Adminhtml_Sales_Creditmemo</sales_order_creditmemo_totals> --> 
          </rewrite>
        </adminhtml>

        </blocks>
        <!-- Setup Resource -->
        <resources>
            <imedia_rewardpoints_setup>
                <setup>
                    <module>Imedia_RewardPoints</module>
                    <class>Imedia_RewardPoints_Model_Resource_Setup</class>
                </setup>
            </imedia_rewardpoints_setup>
        </resources>
		
	
    </global>

    <!-- Adminhtml layout xml configuration -->
    <adminhtml>
        <layout>
            <updates>
                <imedia_rewardpoints>
                    <file>imedia/imedia_rewardpoints.xml</file>
                </imedia_rewardpoints>
            </updates>
        </layout>
    </adminhtml>
    
    <!-- Admin router configuration-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imedia_RewardPoints after="Mage_Adminhtml">Imedia_RewardPoints_Adminhtml</Imedia_RewardPoints>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <default>
	
    </default>
</config>